body {
  background: rgb(255, 160, 215);
}
.navigation {
  background-color: rgb(242, 0, 161);
  padding: 0 20px;
}
.logo-img {
  padding: 10px 12px;
  width: 150px;
}
.hero {
  background: #ffecf9;
  padding: 60px 70px 70px;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 54px;
  color: #175676;
}
p {
  font-family: "Satisfy", cursive;
  font-size: 24px;
  text-align: left;
  color: #175676;
}
.content-info {
  width: 300px;
  height: 300px;
}
.transparent {
  background-color: rgb(254, 189, 229);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.transparent-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.artist-link {
  background-color: rgb(242, 0, 161);
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 40px;
}

.artist-link:hover {
  background-color: rgb(254, 189, 229);
  color: rgb(242, 0, 161);
  border-radius: 4px;
  padding: 15px 40px;
  border-color: rgb(242, 0, 161);
}
.album-stats {
  margin: 100px 30px 10px;
  background-color: rgb(254, 189, 229);
  width: 200px;
  height: 200px;
  padding: 30px 30px;
  border-radius: 20px;
  color: #ffffff;
}
.album-stats:hover,
.artist-stats:hover {
  background-color: rgb(254, 189, 229, 0.7);
}
.album-stats p,
.artist-stats p {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 18px;
  text-align: center;
}
h3 {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 24px;
  text-align: center;
}
.artist-stats {
  margin: 10px 30px 100px;
  background-color: rgb(254, 189, 229);
  width: 200px;
  height: 200px;
  padding: 30px 30px;
  border-radius: 20px;
  color: #ffffff;
}

.footer {
  margin: 80px 0 40px;
}
.footer-text {
  text-align: center;
}
